html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* General styles start */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap");

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
.sub-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  color: #000000;
}
.btn {
  display: inline-block;
  position: relative;
  top: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
  background: #ff2a98;
  padding: 18.5px 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 7px 0px #d44e93;
  box-shadow: 0px 7px 0px #d44e93;

  border-radius: 18px;
}
.btn:hover,
.btn:active,
.btn:focus {
  top: 2px;
  -webkit-box-shadow: 0px 3px 0px #d44e93;
  box-shadow: 0px 3px 0px #d44e93;
  background-color: #dc0077; /*rgb(100%, 16%, 60%, 0.8);*/
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* General styles end */
/* header start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
  background-color: white;
}
.header__container {
  max-width: 1117px;
  margin: 0 auto;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  margin-right: 65px;
  position: relative;
}
.nav__link:hover {
  color: white;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.nav__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #ff2a98;
  z-index: -1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.nav__item:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.nav__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #ff2a98;
  z-index: -1;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.nav__item:hover::before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* .nav__link:hover {
  border-bottom: 1px solid #ff2a98;
} */
.header__logos {
  margin-right: 65px;
}
.header__logos a {
  display: inline-block;
  width: 45px;
  height: 30px;
}
main {
  padding: 0 20px;
}
.logo {
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}
.logo.vk {
  margin-right: 12px;
}
/* header end */
/* Intro start */
.intro {
  padding-top: 310px;
  margin-bottom: 148px;
}
.intro__container {
  max-width: 1386px;
  margin: 0 auto;
  position: relative;
}
.intro__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -87px;
}
.intro__info {
  padding: 0 87px;
}
.btn-intro {
  padding: 18.5px 27px;
}
.intro__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 71px;
  color: #000000;
  margin-bottom: 35px;
  max-width: 900px;
  z-index: 3;
}
.intro__text {
  max-width: 468px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  z-index: 3;
}
.intro__text span {
  font-weight: 700;
}
.intro__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 87px;
  margin-top: -14px;
  position: relative;
}
.intro__photo img {
  position: absolute;
  top: -232px;
  left: -120px;
  /* z-index: -1; */
  background-color: transparent;
}
.intro__nickname {
  display: inline-block;
  z-index: 3;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
  color: #000000;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  padding: 11px 111px;
}
.back-nickname-text {
  font-weight: 800;
  font-size: 250px;
  line-height: 296px;
  text-transform: uppercase;
  color: #f4f4f4;
}
.word-1 {
  position: absolute;
  top: -122px;
  left: -159px;
  z-index: -1;
}
.word-2 {
  position: absolute;
  top: 106px;
  left: -159px;
  z-index: -1;
}
/* Intro end */
/* Why block start */
.why {
  margin-bottom: 110px;
}
.why__container {
  max-width: 1293px;
  margin: 0 auto;
}
.why__title {
  margin-bottom: 45px;
  max-width: 647px;
}
.why__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 615px 125px 555px;
  grid-template-columns: 615px 555px;
  -webkit-column-gap: 125px;
  -moz-column-gap: 125px;
  column-gap: 125px;
  row-gap: 52px;
}
.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__image {
  display: block;
  margin-right: 48px;
  width: 100px;
  height: 100px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.item__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: rgba(0, 0, 0, 0.8);
}
.item__text {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.item-text-2 {
  max-width: 227px;
}
.item-text-3 {
  max-width: 291px;
}
.item-text-6 {
  max-width: 300px;
}
/* Why block end */
/* review start */
.review {
  margin-bottom: 110px;
}
.review__container {
  max-width: 1290px;
  margin: 0 auto;
}
.review__title {
  text-align: center;
}
.swiper {
  width: 1450px;
  max-height: 820px;
}
.slider__container {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__slide {
  padding: 45px 0 60px 0;
}

.slider__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
.slider__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider__scrollbar {
  background-color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  width: 700px;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 12%;
  bottom: 8px;
  z-index: 50;
  height: 5px;
  width: 74%;
}
.swiper-scrollbar-drag {
  position: relative;
  background-color: #ff2a98;
  height: 13px;
  left: 0;
  top: -4px;
}
/* review end */
/* About me start */
.about {
  margin-bottom: 110px;
}
.container {
  max-width: 1290px;
  margin: 0 auto;
}
.about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 55px;
}
.about__title {
  margin-bottom: 36px;
}
.about__text {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
.about__text p {
  margin-bottom: 36px;
  max-width: 630px;
}
.about__text span {
  font-weight: 700;
}
.about__image {
  min-height: 650px;
  max-width: 550px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.about__image img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.about__image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
/* About me end */
/* Videos block statr */
.videos,
.podcasts {
  margin-bottom: 110px;
}
.video__title,
.podcast__title {
  margin-bottom: 55px;
  text-align: center;
}
.videos__grid,
.podcasts__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 630px 30px 630px;
  grid-template-columns: repeat(2, 630px);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.video__item,
.podcast__item {
  /* background-color: #d9d9d9; */
  border-radius: 20px;
}
.video-link,
.podcast-link {
  width: 630px;
  height: 355px;
  border-radius: 20px;
  border: 4px solid #ff2a98;
  background-color: #c0c0c0;
}
/* Videos block end */
/* Footer start */
.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 36px;
}
.footer__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__desc a {
  margin-top: -30px;
}
.footer__text {
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  max-width: 500px;
}
.footer__image {
  display: block;
  width: 117px;
  height: 140px;
}
/* Footer end */
/* Media */
@media (max-width: 767px) {
  .sub-title {
    font-size: 36px;
    line-height: 1.1;
    padding: 0 15px;
  }
  .header {
    padding-top: 0;
    position: absolute;
  }
  .header__nav {
    margin: 25px 0 0 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .nav__list {
    position: fixed;
    display: block;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    padding: 70px 10px 20px 10px;
    overflow: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .btn.header-btn {
    display: none;
  }
  .header__logos {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 0;
  }
  .header__logos a {
    display: inline;
  }
  .header__logos.active {
    position: relative;
  }
  .header__nav {
    margin: 30px 35px 0 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .intro {
    padding-top: 428px;
  }
  .intro__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .intro__photo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
  }
  .intro__photo img {
    width: 548px;
    left: -119px;
    top: -386px;
  }
  .intro__nickname {
    font-size: 30px;
    line-height: 43px;
    padding: 6px 50px;
    margin-bottom: 60px;
  }
  .intro__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .intro__title {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 15px;
  }
  .intro__text {
    margin: 0 auto 26px auto;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    padding: 0 10px 0 10px;
  }
  .item-text-1,
  .item-text-6 {
    max-width: 220px;
  }
  .item-text-3 {
    max-width: 210px;
  }
  .item-text-5 {
    max-width: 228px;
  }
  .back-nickname-text {
    font-size: 92px;
    line-height: 110px;
  }
  .word-1 {
    top: 130px;
    left: 7px;
  }
  .word-2 {
    top: 275px;
    left: 7px;
  }
  .btn-intro {
    text-align: center;
  }
  .button {
    margin: auto;
  }
  /* Intro */
  .intro {
    margin-bottom: 60px;
  }
  /* why block */
  .why__title {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
  }
  .why__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .grid__item {
    padding: 0 15px 0 23px;
    gap: 30px;
  }
  .item__text {
    font-size: 16px;
    line-height: 24px;
  }
  .item__image {
    display: block;
    width: 60px;
    height: 60px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-right: 0;
  }
  .item__title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1;
  }
  .why {
    margin-bottom: 50px;
  }
  /* review block */
  .review {
    margin-bottom: 50px;
  }
  .slider__container {
    position: relative;
    padding: 0 40px 40px 40px;
  }
  .swiper-scrollbar-drag {
    height: 9px;
    top: -2px;
  }
  /* About block */
  .about {
    margin-bottom: 50px;
  }
  .about__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 15px;
    gap: 25px;
  }
  .about__title {
    margin-bottom: 15px;
  }
  .about__text {
    font-size: 16px;
    line-height: 24px;
  }
  .about__text p {
    margin-bottom: 15px;
  }
  .about__image {
    min-height: 100%;
    margin: 0 auto;
  }
  .about__image img {
    width: 100%;
    height: 84%;
  }
  .about__image:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  /* Videos vlock */
  .videos,
  .podcasts {
    margin-bottom: 50px;
  }
  .videos__grid,
  .podcasts__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
  }
  .video__item,
  .podcast__item {
    padding: 0 15px;
    margin: 0 auto;
  }
  .video-link,
  .podcast-link {
    width: 373px;
    height: 210px;
  }
  .video__title,
  .podcast__title {
    margin-bottom: 30px;
  }
  /* Footer block*/
  .footer {
    margin-bottom: 0;
  }
  .footer__block {
    padding: 0 15px;
    gap: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__title {
    margin-bottom: 0;
  }
  .footer__text {
    font-size: 18px;
    line-height: 24px;
  }
  .footer__image {
    width: 150px;
    height: 95px;
  }
  .footer__block a {
    margin-top: -21px;
  }
  .footer__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
